@charset "utf-8";
/* CSS Document */
.navbar {
    background-color: #white important;
}

.gen {
    text-align: center;
}

#mis{
    padding: 10px;
}

#vis{
    padding bottom:  20px;
}

footer {
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
}

